@media screen and (max-width: 576px) {
  main {
    margin-inline: 10px;
  }
  .nav {
    flex-direction: column;
  }
  .nav-items > ul {
    flex-direction: column;
  }
  .nav-items {
    margin-top: 40px;
  }
  .nav-items > ul > li {
    margin-top: 30px;
  }
  .social-link {
    width: 300px;
    margin-left: 30px;
  }
  .banner {
    flex-direction: column-reverse;
    margin-inline: 10px;
  }
  .banner-img img {
    width: 100%;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .banner-text {
    margin-top: 120px;
  }
  .funny-videos-item {
    grid-template-columns: 1fr;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
  }
  .funny-videos {
    margin-bottom: 30px;
  }
  /* play-instantly start*/
  .play-instantly {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .play-instantly-text {
    margin: 0px 10px 50px 10px;
    text-align: center;
  }
  .play-instantly-text .title {
    font-size: 43px;
  }
  .big-img {
    width: 70%;
  }
  .small-img {
    width: 50%;
    bottom: -120px;
    right: 20px;
  }
  /* play-instantly end*/
  /* all games styles */
  .all-games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-row-gap: 50px;
  }
  .game-item {
    gap: 6px;
  }
  .game-genre {
    font-size: 0.9rem;
    font-weight: 400;
  }
  /* all games styles end */

  /* footer styles start */
  .footer {
    padding: 100px 50px;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-link ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
  }
  .footer-policy ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-link ul li,
  .footer-policy ul li {
    margin-top: 20px;
    font-size: 14px;
  }
  .footer-social {
    margin-bottom: 30px;
  }
  .copy-right {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
  }
  /* footer styles end */
}
