@media screen and (max-width: 576px) {
  main {
    margin-inline: 10px;
  }
  .nav {
    flex-direction: column;
  }
  .nav-items > ul {
    flex-direction: column;
  }
  .nav-items {
    margin-top: 40px;
  }
  .nav-items > ul > li {
    margin-top: 30px;
  }
  .social-link {
    width: 300px;
    margin-left: 30px;
  }
  .banner {
    flex-direction: column-reverse;
    margin-inline: 10px;
  }
  .banner-img img {
    width: 100%;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .banner-text {
    margin-top: 120px;
  }
  .funny-videos-item {
    grid-template-columns: 1fr;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
  }
}
