/* shared styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.clr-gray {
  color: #3c354f;
}
.clr-pink {
  color: #ff42a5;
}
.btn {
  padding: 16px 36px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 48px;
  border: none;
}
/* shared styles end*/

/* nav styles */
main {
  margin-inline: 160px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 30px 160px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo h2 {
  font-size: 30px;
  font-weight: 700;
}
.nav-items ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items ul li {
  list-style-type: none;
  margin-right: 32px;
  font-size: 18px;
  font-weight: 500;
}
.social-link {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px 17px;
}
.fa-youtube {
  color: #f61c0d;
}
/* nav styles end */

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 160px;
}
.banner-img img {
  width: 100%;
  height: 600px;
}
.banner-title {
  color: #0b0223;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 24px;
}
.goat {
  font-size: 70px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.center {
  background-image: url("../images/Group14.png");
  padding: 100px 160px;
}
.banner-text p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
.banner-text-para {
  margin-block: 1rem;
}
.fa-circle-play,
.fa-download {
  color: #f948b2;
  margin-right: 10px;
}
.fa-user-group {
  color: #0b0223;
  margin-right: 6px;
}
.banner-button {
  margin-top: 32px;
}
.btn-blue {
  background-color: #4ec5f7;
  margin-left: 18px;
}
.btn-pink {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
/* banner styles end */

/* funny-videos styles*/
.funny-videos {
  margin-block: 80px;
}
.funny-videos-text .title {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.text-gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.funny-videos-text p {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.funny-videos-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.item img {
  width: 100%;
}
.item p {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px; /* 150% */
  margin-top: 0.5rem;
}
.playable {
  position: relative;
}
.playable::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 3px;
  right: 3px;
  bottom: 8px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  z-index: 1;
}
.playable img {
  border-radius: 16px;
}
.pause-play {
  position: absolute;
  top: 40%;
  right: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.pause-play i {
  font-size: 2rem;
  color: white;
}
.pause-play p {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #ff42a5;
}
/* funny-videos styles end*/

/* play instantly styles */
.play-instantly {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}
.play-instantly-text {
  margin-left: 160px;
}
.big-img {
  width: 600px;
}
.play-instantly-img {
  position: relative;
}
.small-img {
  position: absolute;
  bottom: -120px;
  right: -120px;
  border-radius: 8px;
}
.play-instantly-text .title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.play-instantly-text p {
  color: #534c64;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 1.5rem;
}
/* play instantly styles end*/

/* all games start */
.all-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.game-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.game-genre {
  color: #0b0223;
  font-size: 1rem;
  font-weight: 600;
}
.game-item:hover {
  border-radius: 50px;
  background: #fff;
  font-weight: 600;
  border: 1px solid #ff42a5;
  padding: 8px;
}
.game-item:hover p {
  color: #ff42a5;
}
/* all games start */

/* footer styles starts */
.footer {
  background-color: #0b0223;
  padding: 100px 160px;
  text-align: center;
  margin-top: 100px;
}
.footer-logo {
  display: flex;
  justify-content: center;
}
.clr-white {
  color: white;
}
.footer-link ul,
.footer-policy ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link ul li,
.footer-policy ul li {
  list-style-type: none;
  margin-right: 40px;
  margin-top: 40px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
a {
  text-decoration: none;
}

.footer-social {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 50px;
  font-size: 2rem;
  color: white;
}
.copy-right {
  color: rgba(255, 255, 255, 0.6);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}
/* footer styles end */
/* mobile responsive */
@media screen and (max-width: 576px) {
}

/* tab responsive */
@media screen and (max-width: 576px) {
}
